{% extends "mobileLayout.html" %}
{% block title %}Attendance{% endblock %}
{% block headContent %}
{% endblock %}
{% block bodyContent %}
<style>
  #message-box {
    margin: 2%;
    background-color: white;
    padding: 5%;
    border: solid 1px #3d3d3d;
    border-radius: 5px;
  }

  label {
    padding: 3%;
    border: solid 1px #3d3d3d;
    margin-bottom: 5px;
  }

  h1 {
    margin: 5px 0px !important;
    padding: 2%;
  }
</style>

<h1 class="title">Attendance</h1>
<div id="message-box">
  <div class="bs-stepper-content">
    <h2>Start Work</h2>
    <div id="attedance-list" class="content" role="tabpanel">
      {% for start in starts %}
        <label class="label">
          Date : {{ start['date'] }}<br>
          Start Time : {{ start['time'] }}<br>
          Location： {{ start['longitude'] }}, {{ start['latitude'] }}<br>
        </label>
      {% endfor %}
      </label>
    </div>
    <h2>End Work</h2>
    <div id="attedance-list" class="content" role="tabpanel">
      {% for end in ends %}
        <label class="label">
          Date : {{ end['date'] }}<br>
          End Time : {{ end['time'] }}<br>
          Location： {{ end['longitude'] }}, {{ end['latitude'] }}<br>
        </label>
      {% endfor %}
      </label>
    </div>
    <h2>Leave Permission</h2>
    <div id="attedance-list" class="content" role="tabpanel">
      {% for leave in leaves %}
        <label class="label">
          Date : {{ leave['date'] }}<br>
          Start Time : {{ leave['startTime'] }}<br>
          End Time : {{ leave['endTime'] }}<br>
          Work Time : {{ leave['totalTime'] }}<br>
        </label>
      {% endfor %}
      </label>
    </div>
  </div>
</div>
{% endblock %}
