{% extends "mobileLayout.html" %}
{% block title %}Attendance{% endblock %}
{% block headContent %}
{% endblock %}
{% block bodyContent %}
<style>
  #message-box {
    margin: 2%;
    background-color: white;
    padding: 5%;
    border: solid 1px #3d3d3d;
    border-radius: 5px;
  }

  label {
    padding: 3%;
    border: solid 1px #3d3d3d;
    margin-bottom: 5px;
  }

  h1 {
    margin: 5px 0px !important;
    padding: 2%;
  }
</style>

<h1 class="title">Attendance</h1>
<div id="message-box">
  <div class="bs-stepper-content">
    <div id="attedance-list" class="content" role="tabpanel">
      {% for attendance in attendances %}
        <label class="label">
          Date : {{ attendance['date'] }}<br>
          Start Time : {{ attendance['start'] }}<br>
          End Time : {{ attendance['end'] }}<br>
          Work Time : {{ attendance['total_time'] }}<br>
          Location： {{ attendance['location'] }}<br>
          Ask for Leave: {{ attendance['ask_for_leave'] }}<br>
        </label>
      {% endfor %}
      </label>
    </div>
  </div>
</div>
{% endblock %}
