<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Company Information</title>
</head>
<body>
  <h1>This is a page for Company Information</h1>
  <form action="" method="POST">
    <label class="label">
      <div class="field form-inline">
        Company name：<input type="text" name="name" class="label" value="" required />
      </div>
      <div class="field">
        Id：
      </div>
      <div class="field form-inline">
        <button class="button is-link">儲存</button>
        <a class="button is-link" href="" style="margin-left: 5%">取消</a>
      </div>
    </label>
  </form>
</body>
</html>