{% extends "mobileLayout.html" %}
{% block title %}Company Information{% endblock %}
{% block headContent %}
{% endblock %}
{% block bodyContent %}
<style>
  #message-box {
    margin: 2%;
    background-color: white;
    padding: 5%;
    border: solid 1px #3d3d3d;
    border-radius: 5px;
  }

  h1 {
    margin: 5px 0px !important;
    padding: 2%;
  }

  th {
    font-size: 0.7rem;
  }
</style>
<h1 class="title">Company Information</h1>
<div id="message-box">
  <div id="companyList">
    <h2>Select your Company</h2>
    <select id="companySelected" style="font-size:20px;" class="custom-select">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
  </div>
  <hr size="8px" align="center" width="100%">
  <div id="siteList" style="width: 100%;">
    <div class="field form-inline">
        <h2>Company Member</h2>
    </div>
    <table style="border:2px solid; width: 100%;" class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Role</th>
          {% if role == 'manager' %}
          <th>Salary</th>
          {% endif %}
        </tr>
      </thead>
      <tbody id="memberTable">
          {% for company in companies %}
          <tr>
            <th>{{company['member_id']}}</th>
            <th>{{company['name']}}</th>
            <th>{{company['role']}}</th>
            {% if role == 'manager' %}
            <th>{{company['salary']}}</th>
            {% endif %}
          </tr>
          {% endfor %}
      </tbody>
  </table>
  </table>
  </div>
</div>
{% endblock %}
