{% extends "mobileLayout.html" %}
{% block title %}End Work{% endblock %}
{% block headContent %}
{% endblock %}
{% block bodyContent %}
<style>
  #message-box {
    margin: 2%;
    background-color: white;
    padding: 5%;
    border: solid 1px #3d3d3d;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 50%;
    height: 50%;
  }
  
  h1 {
    font-size: 1.6rem;
    color: royalblue !important;
  }

  #submit-button {
    width: 50px;
    height: 30px;
    display: flex;
    background-color: #3d3d3d;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }

  #submit-text {
    margin: 0;
    color: #d8d8d8;
    font-size: 12px;
  }
</style>
<div id="message-box">
  <img src="{{ image }}" />
  <h1>End Work</h1>
  <p id="gps-location" />
  <p id="date" />
  <div id="submit-button" onclick="submitData()">
    <p id="submit-text">Submit</p>
  </div>
</div>
<script>
  let locationText = document.getElementById("gps-location");
  let dateText = document.getElementById("date");
  var loadingLocation = false;
  let data = {
    longitude: '',
    latitude: '',
    date: '',
  };

  function setLoadingLocation(value) {
    loadingLocation = value;
  }

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
      setTimeout(setLoadingLocation(true), 3000);
    } else {
      locationText.innerHTML = "Geolocation is not supported by this browser.";
      setLoadingLocation(false);
    }
  }

  function showPosition(position) {
    locationText.innerHTML = `Latitude: ${position.coords.latitude} <br>Longitude: ${position.coords.longitude}`;
  }

  function getCurrentTime() {
    let date = new Date();
    let currentDate = `
    ${date.getFullYear()}-
    ${date.getMonth() + 1}-  
    ${date.getDate()}`;
    let currentTime = `${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`;

    dateText.innerHTML = `Date: ${currentDate} <br>Time: ${currentTime}`;
  }

  function init() {
    locationText.innerHTML = `Getting your location ...`;
    dateText.innerHTML = `Loading...`;

    getLocation();

    if (loadingLocation === true) {
      setInterval(getCurrentTime, 5000);
    }
  }

  function submitData() {
    const requestUrl = '/submit/start';

    $.ajax({
      url: requestUrl,
      data: JSON.stringify(data),
      type: "POST",
      dataType: "json",
      contentType: "application/json;charset=utf-8",

      success: function () {
        console.log('Sending data success');
      },
      error: function (xhr, ajaxOptions, thrownError) {
        console.log(xhr.status);
        console.log(thrownError);
      },
    });
  }

  init()
</script>
{% endblock %}