{% extends "mobileLayout.html" %}
{% block title %}登入{% endblock %}
{% block bodyContent %}
<h1 class="title">登入</h1>

<form action="" method="POST" onsubmit="return false">
    <label class="label">
        <div class="field form-inline">
            email: <input type="text" class="label" name="email" id="email" class="input" required="required" />
        </div>
        <div class="field form-inline">
            密碼:&ensp;<input type="password" class="label" name="password" id="password" class="input" required="required" />
        </div>
        <div class="field form-inline">
            <button class="button is-link" id="submit-button">登入</button>
        </div>
    </label>
</form>

<script>
    liff.init({
        liffId: "{{liffId}}" // config parameter
    })
        .then(() => {
            // Use liff's api
            liff.getProfile()
                .then(profile => {

                    const lineId = profile.userId;
                    const displayName = profile.displayName;
                    document.getElementById("lineId").value = lineId;
                    document.getElementById("user-name").value = displayName;
                })
                .catch((err) => {
                    console.log('error', err);
                });
        })
        .catch((err) => {
            console.log(err.code, err.message);
        });

    document.getElementById("submit-button").addEventListener("click", (e) => {
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;
        firebase.auth().signInWithEmailAndPassword(email, password)
            .then((userCredential) => {
                // Signed in 
                var user = userCredential.user;
                console.log(user);
                submitData(user.uid)
                // ...
            })
            .catch((error) => {
                var errorCode = error.code;
                var errorMessage = error.message;
                console.log(errorMessage)
                // ..
            })
    });
    function submitData(id) {
        const requestUrl = '/';
        let data = {
            id: id,
        };

        $.ajax({
        url: requestUrl,
        data: JSON.stringify(data),
        type: "POST",
        contentType: "application/json;charset=utf-8",

        success: function () {
            alert('login info saved');
        },
        error: function (xhr, ajaxOptions, thrownError) {
            console.log(xhr.status);
            console.log(thrownError);
            alert('Failed to login');
        },
        });
    }
</script>

{% endblock %}