{% extends "mobileLayout.html" %}
{% block title %}Personal Information{% endblock %}
{% block headContent %}
{% endblock %}
{% block bodyContent %}
<style>
  #message-box {
    margin: 2%;
    background-color: white;
    padding: 5%;
    border: solid 1px #3d3d3d;
    border-radius: 5px;
  }

  input[type=checkbox], input[type=radio] {
    margin-right: 5px !important;
  }

  h1 {
    margin: 5px 0px !important;
    padding: 2%;
  }

</style>
<h1 class="title">Personal Information</h1>
<div id="message-box">
  <form onsubmit="submitData();return false;" method="POST">
    <label class="label">
      <div class="field form-inline">
        Name：<input id="name" type="text" name="name" class="label" value="" required />
      </div>
      <div class="field form-inline">
        Email：<input id="email" type="email" name="email" class="label" value="" required />
      </div>
      <div class="field">
        Id：
      </div>
      <div class="field">
        <label for="角色" class="label">Role：
          <input type="radio" name="role" value="worker" />Worker
          <input type="radio" name="role" value="manager" />Manager
        </label>
      </div>
      <div class="field form-inline">
        <button class="button is-link">Save</button>
        <a class="button is-link" href="" style="margin-left: 5%">Cancel</a>
      </div>
    </label>
  </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
  const nameInput = document.getElementById('name');
  const emailInput = document.getElementById('email');

  let data = {
    name: '',
    email: '',
    id: '',
    role: '',
  }

  nameInput.addEventListener('change', (event) => updateValue('name', event));
  emailInput.addEventListener('change', (event) => updateValue('email', event));
  
  function updateValue(key, event) {
    event.preventDefault();
    data[key] = event.target.value;
  }

  function submitData() {
    const requestUrl = '/save';

    data.role = $("input[name=role]:checked").val();

    console.log({data});

    // $.ajax({
    //   url: requestUrl,
    //   data: JSON.stringify(data),
    //   type: "POST",
    //   dataType: "json",
    //   contentType: "application/json;charset=utf-8",

    //   success: function () {
    //     console.log('Sending data success');
    //   },
    //   error: function (xhr, ajaxOptions, thrownError) {
    //     console.log(xhr.status);
    //     console.log(thrownError);
    //   },
    // });
  }

</script>
{% endblock %}