{% extends "mobileLayout.html" %}
{% block title %}註冊{% endblock %}
{% block bodyContent %}
<h1 class="title">註冊</h1>
<form action="" method="POST" onsubmit="return false">
    <label class="label">
        <div class="field form-inline">
            姓名:&ensp;<input type="text" class="label" name="name" id="user-name" class="input" required="required" />
        </div>
        <div class="field form-inline">
            email: <input type="text" class="label" name="email" id="email" class="input" required="required" />
        </div>
        <div class="field form-inline">
            密碼:&ensp;<input type="password" class="label" name="password" id="password" class="input" required="required" />
        </div>
        <div class="field form-inline">     
            Line ID: <input type="text" name="lineId" id='lineId' class="input" value="place-holder" required="required" readonly/>
        </div>

        <div class="field form-inline">
            <button class="button is-link" id="submit-button">註冊</button>
        </div>
    </label>
</form>

<script>
    liff.init({
        liffId: "{{liffId}}" // config parameter
    })
        .then(() => {
            // Use liff's api
            liff.getProfile()
                .then(profile => {

                    const lineId = profile.userId;
                    const displayName = profile.displayName;
                    document.getElementById("lineId").value = lineId;
                    document.getElementById("user-name").value = displayName;
                })
                .catch((err) => {
                    console.log('error', err);
                });
        })
        .catch((err) => {
            console.log(err.code, err.message);
        });
    // document.user = null; for debug
    document.getElementById("submit-button").addEventListener("click", (e) => {
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;
        auth.createUserWithEmailAndPassword(email, password)
            .then((userCredential) => {
                // Signed in 
                var user = userCredential.user;
                // document.user = user; for debug

                // add member info to db
                const uid = user.uid;
                const lineId = document.getElementById("lineId").value;
                const name = document.getElementById("user-name").value;
                console.log(user);
                // ...
                submitData(uid, lineId, name, email);
            })
            .catch((error) => {
                var errorCode = error.code;
                var errorMessage = error.message;
                console.log(errorMessage)
                // ..
            })
    });
    function submitData(id, lineId, name, email) {
        const requestUrl = '/register/';
        let data = {
            id: id,
            lineId: lineId,
            name: name,
            email: email
        };

        $.ajax({
        url: requestUrl,
        data: JSON.stringify(data),
        type: "POST",
        contentType: "application/json;charset=utf-8",

        success: function () {
            alert('signup info saved');
        },
        error: function (xhr, ajaxOptions, thrownError) {
            console.log(xhr.status);
            console.log(thrownError);
            alert('Failed to signup');
        },
        });
    }
</script>

{% endblock %}